*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}

$bg: #121212;
$lbc: #00ffd9;
$borderradius: 10px;

@mixin imagecenter($link){
    background-image: url($link);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: $bg;
}

.container{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 58px;
    font-family: 'Roboto', sans-serif;
    .header{
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;
        .profile{
            width: 165px;
            height: 100%;
            background-color: black;
            border-radius: $borderradius;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            .picture_profile{
                width: 42px;
                height: 42px;
                background-color: $lbc;
                border-radius: $borderradius;
                position: relative;
                cursor: pointer;
                .menu_profile{
                    width: 260px;
                    height: auto;
                    background-color: black;
                    position: absolute;
                    border-left: 1px solid $lbc;
                    border-radius: 0 10px 10px 0;
                    padding: 20px 10px;
                    top: 60px;
                    left: 0;
                    overflow: hidden;
                    visibility: hidden;
                    z-index: 2;
                    
                    >ul{
                        width: 100%;
                        >li{
                            color: white;
                            border: 1px solid white;
                            padding: 5px 10px;
                            cursor: pointer;
                            transition: 0.5s;
                            &+li{
                                margin-top: 10px;
                            }
                            &:hover{
                                border-color: $lbc;
                                color: $lbc;
                                box-shadow: -20px  0px 0px rgba(0, 255, 217, 1) inset;
                                
                            }
                            &:last-child:hover{
                                border-color: red;
                                color: red;
                                box-shadow: -20px  0px 0px rgb(255, 0, 0) inset;
                            }
                        }
                    }
                }
            }
            >p{
                color: white;
                font-size: 18px;
            }
        }

        .panel_control{
            width: 860px / 1080px * 100%;
            height: 100%;
            background-color: $lbc;
            border-radius: $borderradius;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            .pc_left_div{
                display: flex;
                align-items: center;
                .picture_music{
                    width: 42px;
                    height: 42px;
                    background-color: black;
                    border-radius: $borderradius;
                }
                .div_gn{
                    margin-left: 10px;
                    >h2{
                        font-size: 18px;
                    }
                    >h3{
                        font-size: 16px;
                    }
                }
            }
            .pc_right_div{
                width: 234px;
                height: 42px;
                background-color: black;
                border-radius: $borderradius;
                display: flex;
                align-items: center;
                justify-content: space-around;
                >div{
                    width: 36px;
                    height: 36px;
                    border-radius: $borderradius;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
                #icon_1{
                    background-image: url("../Medias/Icons_player/previous\ cirlce.svg");
                }
                #icon_2{
                    background-image: url("../Medias/Icons_player/play.svg");
                }
                #icon_3{
                    background-image: url("../Medias/Icons_player/next\ circle.svg");
                }
            }
        }
    }
    .main{
        width: 100%;
        height: calc(100% - 116px);
        display: flex;
        justify-content: space-between;
        // background-color: white;
        .lists_playlist{
            width: 250px;
            height: 100%;
            background-color: #181818;
            border-radius: $borderradius;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            position: relative;
            .name_teg_lp{
                position: absolute;
                font-size: 20px;
                color: #009e86;
                top: -30px;
                left: 0;
            }
            .list_pd{
                width: 100%;
                height: 100%;
                overflow: auto;
                >ul{
                    >p{
                        color: $lbc;
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    color: white;
                    >li{
                        margin-left: 10px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        transition: 0.5s;
                        padding: 5px 10px;
                        border-radius: 5px 0 0 5px;
                        &:hover{
                            color: black;
                            box-shadow: -250px  0px 0px rgba(0, 255, 217, 1) inset;
                            
                        }
                    }
                }
            }
            .picture_group{
                width: 100%;
                height: 150px;
                background-color: black;
                border-radius: $borderradius;
            }
        }
        .lists_music{
            width: 860px / 1080px * 100%;
            height: 100%;
            background-color: #181818;
            border-radius: $borderradius;
            padding: 10px;
            position: relative;
            border-top: 1px solid rgba(0, 255, 217, 0.5);
            border-bottom: 1px solid rgba(0, 255, 217, 0.5);
            .name_teg_lm{
                position: absolute;
                font-size: 20px;
                color: #009e86;
                top: -30px;
                left: 0;
            }
            .content_music{
                .music_div{
                    width: 100%;
                    height: 48px;
                    border: 1px solid white;
                    border-radius: $borderradius;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px;
                    overflow: auto;
                    .left_md{
                        display: flex;
                        align-items: center;
                        display: flex;
                        .play_btn{
                            width: 38px;
                            height: 38px;
                            @include imagecenter("../Medias/Icons_player/play.svg");
                            cursor: pointer;
                            filter: invert(1);
                        }
                        .icon_music{
                            width: 30px;
                            height: 30px;
                            border-radius: $borderradius;
                            background-color: $lbc;
                            margin-left: 10px;
                        }
                        .namemusic{
                            color: white;
                            margin-left: 10px;
                        }
                    }
                    .right_md{
                        display: flex;
                        align-items: center;
                        .date_add{
                            color: white;
                            border-right: 1px solid white;
                            padding-right: 10px;
                        }
                        .add_like{
                            width: 24px;
                            height: 24px;
                            @include imagecenter("../Medias/Icons_player/plus.png");
                            filter: invert(1);
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                    &+.music_div{
                        margin-top: 10px;
                    }
                    &:hover{
                        border-color: $lbc;
                    }
                }
            }
        }
    }
}

